#board{
    -fx-background-color: #555555;
}

#controls{
    -fx-padding: 10px;
    -fx-spacing: 10px;
}

#controls .text-field{
    -fx-border-color: red;
    -fx-highlight-fill: none;
}

#controls .playerName {
    -fx-highlight-fill: none;
}

#controls .playerName.active{
    -fx-border-color: red;
}

.card-pane {
    -fx-max-width: 70px;
    -fx-max-height: 70px;
    -fx-min-width: 70px;
    -fx-min-height: 70px;
}

.card-pane .button {
    -fx-background-color: transparent;
}

.card-1 {
    -fx-image: url("/images/image01.jpg");
}