#board {
    -fx-background-color: #555555;
    -fx-min-width: 600px;
    -fx-min-height: 600px;
    -fx-max-width: 600px;
    -fx-max-height: 600px;
    -fx-pref-width: 600px;
    -fx-pref-height: 600px;
}

#controls {
    -fx-padding: 10px;
    -fx-spacing: 10px;
}

#controls .text-field {
    -fx-highlight-fill: none;
}

#controls .playerName {
    -fx-highlight-fill: none;
}

#controls .playerName.active {
    -fx-border-color: red;
}

.card-pane {
    -fx-max-width: 90px;
    -fx-max-height: 90px;
    -fx-min-width: 90px;
    -fx-min-height: 90px;
    -fx-padding: 3px;
}

.card-pane .button {
    -fx-background-color: transparent;
}

.card-pane.nocheat .image-view.hidden {
    -fx-image: url("/images/reverse.jpg");
}

.card-pane.guessed {
    visibility: hidden;
}

.card-1 .image-view{
    -fx-image: url("/images/image01.jpg");
}

.card-2 .image-view{
    -fx-image: url("/images/image02.jpg");
}

.card-3 .image-view{
    -fx-image: url("/images/image03.jpg");
}

.card-4 .image-view{
    -fx-image: url("/images/image04.jpg");
}

.card-5 .image-view{
    -fx-image: url("/images/image05.jpg");
}

.card-6 .image-view{
    -fx-image: url("/images/image06.jpg");
}

.card-7 .image-view{
    -fx-image: url("/images/image07.jpg");
}

.card-8 .image-view{
    -fx-image: url("/images/image08.jpg");
}

.card-9 .image-view{
    -fx-image: url("/images/image09.jpg");
}

.card-10 .image-view{
    -fx-image: url("/images/image10.jpg");
}

.card-11 .image-view{
    -fx-image: url("/images/image11.jpg");
}

.card-12 .image-view{
    -fx-image: url("/images/image12.jpg");
}

.card-13 .image-view{
    -fx-image: url("/images/image13.jpg");
}

.card-14 .image-view{
    -fx-image: url("/images/image14.jpg");
}

.card-15 .image-view{
    -fx-image: url("/images/image15.jpg");
}

.card-16 .image-view{
    -fx-image: url("/images/image16.jpg");
}

.card-17 .image-view{
    -fx-image: url("/images/image17.jpg");
}

.card-18 .image-view{
    -fx-image: url("/images/image18.jpg");
}

.active{
    -fx-border-color: red;
}